.parent {
  position: relative;
  top: 0;
  left: 0;
}

.back {
  position: absolute;
  top: 100px;
  left: 30px;
  width: 350px;
  height: 300px;
  background-color: #013F6A;
  border-radius: 10px;
}

.front {
  position: absolute;
  top: 25px;
  left: 10px;
  width: 350px;
  height: 350px;
  background-color: #FFF;
}


#contact {
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-size: 30px;
    float: right;
    padding-top: 180px;
    padding-right: 100px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

img {
    width: 50px;
    height: 50px;
}

.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-left: 10px;
}

.contact-item {
    text-align: center;
}

.contact_text {
    margin-top: 5px;
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-size: 30px;
}
