	#university_logo {
	position:static;
	padding-top: 100px;
	padding-right: 220px;
	float:right;
}

#education_detail {
	font-family: "Trebuchet MS";
	font-weight:bold;
	font-size: 25px;
	position: static;
	padding-top: 150px;
	padding-left: 150px;
	width: 450px
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #013F6A;
    color: white;
}

tr:hover td:first-child {
    background-color: #3da8cc; /* Change to the background color you prefer */
}
