#logo_border {
	padding-top: 10px;
	width: 1080px;
}

#title {
	font-family: "Trebuchet MS";
	font-weight:bold;
	font-size: 50px;
	text-align: center;
	padding-bottom: 50px;
}

.logo {
    width: 100px;
    height: 100px;
}

.text_float2 {
	position: relative;
}

.alert2 {
  position: relative;
  animation: flyup 1s;
  animation-fill-mode: forwards;
  bottom: 0px;
}

@keyframes flyup {
  0% {
  	top: 50px;
    bottom: 0px;
    color: #161616;
  }
  100% {
  	top: 20px;
    bottom: 40px;
  }
}


.software-row {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    flex-wrap: wrap;
}

.software-item {
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 0px 10px 0px 10px;
    flex-basis: calc(20% - 50px); /* 20% width for each item with some spacing adjustment*/
    max-width: calc(20% - 50px); /* Set a max width to prevent items from getting too wide*/
    transition: transform 0.3s ease-in-out; /* Add a transform transition */
}

.software-item:hover {
    transform: scale(1.20); /* Enlarge the item by 5% on hover */
}

.software_name {
    margin-top: 5px;
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-size: 30px;
}

.language-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-item {
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px 0px 25px;
    transition: transform 0.3s ease-in-out; /* Add a transform transition */

}

.language-item:hover {
    transform: scale(1.20); /* Enlarge the item by 5% on hover */
}


.languages_name {
    margin-top: 5px;
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-size: 30px;
}
