body{  
	background-color: #161616;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
        max-width: 1200px;
    	margin: auto;
}

#wrapper{
	width: 100%;
	margin:0 auto;
}

#menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
	background-color: #013F6A;
	width: 100%;
	height:100%;
	margin:auto;
	box-sizing: border-box;
}

#navigation {
	padding: 0 10px;
	height: 100%;
	display: flex;
    	align-items: center; /* Centers content vertically */
	font-family: "Trebuchet MS";
	font-weight: bold;
	font-size: 18px;
	color: white;
	transition: background-color 0.3s;
	float:left;
	cursor: pointer;
}

#navigation:hover {
	background-color: #025485;
	border-radius: 5px;
}

#menu_bg {                   
	width: 100%;
	height: 45px;
	background-color: #013F6A;
}

a {
	color: white;
	text-decoration: none;
}

.glow {
	text-shadow :  0 0 32px white;
}


ul {
  list-style: none;
  display: table;
}

li {
  display: table-row;
}

b {
  display: table-cell;
  padding-right: 1em;
}

.text_float {
  position: absolute;
  width: 360px;
  height: 45px;
}

.alert {
  position: absolute;
  animation: flyup 2s;
  animation-fill-mode: forwards;
  bottom: 0px;
}

@keyframes flyup {
  0% {
  	top: 430px;
    left: 35px;
    bottom: 0px;
    color: #161616;
  }
  100% {
  	top: 400px;
    left: 35px;
    bottom: 40px;
  }
}
